.header {
    background: black;
    color: white;
    text-align: center;
    padding: 40px;
}

body {
  font-family: Garamond, Arial, sans-serif;
  padding: 4px;
}

h1 {
  font-family: Garamond, sans-serif;
  text-align: center;
  font-weight: normal;
}

nav {
  width: 100%;
  background: #f0f0f0;
  border: 1px solid #ccc;
}

nav ul {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style: none;
  float: left;
  text-align: center;
  border-left: 1px solid #fff;
  border-right: 1px solid #ccc;
  width: 16.6667%;*/ /* fallback for non-calc() browsers */
  width: calc(100% / 6);
  box-sizing: border-box;
}

nav ul li:first-child {
  border-left: none;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: #616161;
  padding: 10px 0;
}

.p {
  text-align: center;
  font-size: 14px;
  margin-top: 80px;
}

ul.tabs li a:hover {
    background: #ccc;
}

html ul.tabs li.active, html ul.tabs li.active a:hover  { 
    /*
    --Makes sure that the active tab does not listen to the hover properties--
    */
    background: #fff;
    border-bottom: 1px solid #fff; 
    /*--Makes the active tab look like it's connected with its content--*/
}

.tab_container {
    border: 1px solid #999;
    border-top: none;
    overflow: hidden;
    clear: both;
    float: left; width: 100%;
    background: #fff;
}

.tab_content {
    padding: 20px;
    font-size: 1.2em;
}

.clear {
    clear: both;
}
